* {
    box-sizing: border-box;
}
body {
    width: 100%;
    max-width:1200px;
    margin: 0 auto;
}
header {
    background-image: url(https://images.pexels.com/photos/811715/pexels-photo-811715.jpeg?h=350&auto=compress&cs=tinysrgb);
    width: 100%;
    padding: 15px 40px 50px;
}
header nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    float: right;
}
header nav ul:before,
header nav ul:after {
    clear:both;
}
header ul li {
    display: inline-block;
}
header nav ul>li>a {
    display: inline-block;
    color: #000000;
    text-decoration: none;
}
header .a {
    text-align: center;
}
.container {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.row:after, 
.row:before {
    content: "";
    display: table;
    clear: both;
    margin: 0;
    padding: 0;
}
[class*="col-"] {
    float: left;
    min-height: 1px;
    padding: 0 15px;
}
.col-1 {
    width: 8.33%;
}
.col-2 {
    width: 16.66%;	
}
.col-3 {
    width: 25%;	
}
.col-4 {
    width: 33.33%;	
}
.col-5 {
    width: 41.66%;
}
.col-6 {
    width: 50%;	
}
.col-7 {
    width: 58.33%;	
}
.col-8 {
    width: 66.66%
}
.col-9 {
    width: 75%;	
}
.col-10 {
    width: 83.33%;	
}
.col-11 {
    width: 91.66%;
}
.col-12 {
    width: 100%;
}
.col-offset-1 {
    margin-left: 8.33%;	
}
.col-offset-2 {
    margin-left: 16.66%;	
}
.col-offset-3 {
    margin-left: 25%;	
}
.col-offset-4 {
    margin-left: 33.33%	
}
.col-offset-5 {
    margin-left: 41.66%;	
}
.col-offset-6 {
    margin-left: 50%;	
}
.col-offset-7 {
    margin-left: 58.33%;	
}
.col-offset-8 {
    margin-left: 66.66%;	
}
.col-offset-9 {
    margin-left: 75%;	
}
.col-offset-10 {
    margin-left: 83.33%;	
}
.col-offset-11 {
    margin-left: 91.66%;	
}
.services {
    text-align: center;
    width: 100%;
}
.services .col-4 {
    text-align: center;
}
.portfolio {
    text-align: center;
    background-color: #ddd;
    max-width: 100%;
}
.about {
    text-align: center;
}
.about img {
    height:200px;
    width: 200px;
    border-radius: 50%;
}
.about .circle {
    height: 200px;
    width: 200px;
    border-radius: 50%;
    background-color: yellow;
    line-height: 70px;
    padding: 30px 0;
}
.team {
    text-align: center;
}
.team img {
    border-radius: 50%;
}
.creator {
    font-size: 22px;
    text-align: center;
}
.creator span {
    background-color: saddlebrown;
    color:white;
}
.contact {
    text-align: center;
}
.contact input {
    width: 100%;
    text-align: center;
    padding:10px;
    margin: 10px 0;
}
footer {
    text-align: center;
}
@media (max-width: 767px){
    /* For tablets: */
    .col-s-1 {width: 8.33%;}
    .col-s-2 {width: 16.66%;}
    .col-s-3 {width: 25%;}
    .col-s-4 {width: 33.33%;}
    .col-s-5 {width: 41.66%;}
    .col-s-6 {width: 50%;}
    .col-s-7 {width: 58.33%;}
    .col-s-8 {width: 66.66%;}
    .col-s-9 {width: 75%;}
    .col-s-10 {width: 83.33%;}
    .col-s-11 {width: 91.66%;}
    .col-s-12 {width: 100%;}
    [class*="col-"] {
        width: 100%;
        padding: 12px;
        float:left;
    }
    header {
    }
    header>nav ul {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }
    header>nav ul>li {
        display: block;	
    }
    .about img {
        height: 100px;
        width: 100px;
    }
    @media (min-width: 768px) {
        /* For desktop: */
        .col-m-1 {width: 8.33%;}
        .col-m-2 {width: 16.66%;}
        .col-m-3 {width: 25%;}
        .col-m-4 {width: 33.33%;}
        .col-m-5 {width: 41.66%;}
        .col-m-6 {width: 50%;}
        .col-m-7 {width: 58.33%;}
        .col-m-8 {width: 66.66%;}
        .col-m-9 {width: 75%;}
        .col-m-10 {width: 83.33%;}
        .col-m-11 {width: 91.66%;}
        .col-m-12 {width: 100%;}
    }